.hidden {
  display: none !important;
}
.active {
  animation: fade-in 1s ease-in-out;
}

.slide {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.slide img {
  max-width: 100%;
  height: auto;
  aspect-ratio: 16/9;
  object-fit: cover;
  object-position: center;
  border-radius: 20px;
  max-height: 80vh;
}

.shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: inset 0px -140px 32px 0px rgba(0, 0, 0, 0.5);

  border-radius: 20px;
  top: 0;
  left: 0;
}
.text {
  position: absolute;
  bottom: 2%;
  left: 2%;
  color: white;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.6);
}
.text b {
  font-size: 2.4rem;
}
.text p {
  font-size: 1.4rem;
}

/* Animations */
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 1600px) {
  .slide img {
    aspect-ratio: 1;
  }
}
@media screen and (max-width: 1000px) {
  .slide img {
    aspect-ratio: 5/6;
  }
}
@media screen and (max-width: 720px) {
  .slide img {
    aspect-ratio: 5/8;
  }
  .text b {
    font-size: 1.2rem;
  }
  .text p {
    font-size: 1rem;
  }
}

@media screen and (max-height: 768px) and (orientation: landscape) {
  .slide img {
    max-height: 60vh;
    aspect-ratio: 20/9;
  }
  .text b {
    font-size: 1.2rem;
  }
  .text p {
    font-size: 1rem;
  }
}
